<!DOCTYPE html>
<html lang="{{ locale or 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title or 'Title' }}</title>
    <meta
      name="description"
      content="{{ description or 'Default description' }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/index.css" />
    {% block head %}{% endblock %}
  </head>
  <body class="page">
    {% include "header.html" %}
    <main class="page__content">{% block content %}{% endblock %}</main>
    {% include "footer.html" %} {% block scripts %}{% endblock %}
  </body>
</html>
