h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

p,
a,
small {
  line-height: 1.65rem;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: blue;
  --header-text-color: white;
  --global-horizontal-padding: 10vw;
  --footer-height: 50px;
}

a {
  color: var(--primary-color);
  border-radius: 0.2rem;
  text-decoration: none;
}

body {
  margin: 0;
}

.page {
  position: relative;
  min-height: 100vh;
}

.page__header {
  background-color: var(--primary-color);
  padding: 1rem var(--global-horizontal-padding);
}

.header__title {
  color: var(--header-text-color);
}

.page__footer {
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__content {
  display: block;
  padding-top: 1rem;
  padding-left: var(--global-horizontal-padding);
  padding-right: var(--global-horizontal-padding);
  padding-bottom: var(--footer-height);
}

.kek {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
